@font-face {
  font-family: 'brandFont';
  src: url("Segoe_UI_Negreta.ttf"); }
body {
  margin: 0;
  background-color: #c8ebff;
  overflow-x: hidden; }

nav {
  display: block;
  position: fixed;
  z-index: 2;
  width: 100vw;
  max-height: 5vh;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 1vw; }
  nav textarea:focus, nav input:focus {
    outline: none; }
  nav #navBarList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 5vh;
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: .9;
    transition: .5s all; }
    nav #navBarList .fLeft {
      float: left; }
      nav #navBarList .fLeft #useLocation {
        cursor: pointer; }
      nav #navBarList .fLeft #tfheader {
        background-color: transparent; }
        nav #navBarList .fLeft #tfheader #iconSearch {
          height: 3vh;
          margin-top: 1vh;
          transition: .5s all;
          display: none; }
        nav #navBarList .fLeft #tfheader #tfnewsearch {
          float: right;
          padding: 0;
          /* Fixes submit button height problem in Firefox */ }
          nav #navBarList .fLeft #tfheader #tfnewsearch .tftextinput {
            padding: 5px 15px;
            font-size: 14px;
            border: solid 0px white;
            background-color: transparent;
            height: 5vh;
            font-family: brandFont;
            width: 60vw;
            color: white;
            transition: .5s all; }
          nav #navBarList .fLeft #tfheader #tfnewsearch .tftextinput::-ms-clear {
            display: none; }
          nav #navBarList .fLeft #tfheader #tfnewsearch .tftextinput::-webkit-input-placeholder {
            color: white;
            font-family: "Montserrat", sans-serif; }
          nav #navBarList .fLeft #tfheader #tfnewsearch .tftextinput:-moz-placeholder {
            /* Firefox 18- */
            color: white;
            font-family: "Montserrat", sans-serif; }
          nav #navBarList .fLeft #tfheader #tfnewsearch .tftextinput::-moz-placeholder {
            /* Firefox 19+ */
            color: white;
            font-family: "Montserrat", sans-serif; }
          nav #navBarList .fLeft #tfheader #tfnewsearch .tftextinput:-ms-input-placeholder {
            color: white;
            font-family: "Montserrat", sans-serif; }
          nav #navBarList .fLeft #tfheader #tfnewsearch .tfbutton {
            margin: 0;
            padding: 5px 15px;
            font-family: 'brandFont';
            font-size: 14px;
            outline: none;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            color: white;
            border: solid 1px black;
            border-right: 0px;
            background: #c8ebff;
            background: -webkit-gradient(linear, left top, left bottom, from(grey), to(black));
            background: -moz-linear-gradient(top, lightgray, grey);
            border-top-right-radius: 5px 5px;
            border-bottom-right-radius: 5px 5px; }
          nav #navBarList .fLeft #tfheader #tfnewsearch .tfbutton:hover {
            text-decoration: none;
            background: white;
            background: -webkit-gradient(linear, left top, left bottom, from(lightgray), to(grey));
            background: -moz-linear-gradient(top, lightgray, grey); }
          nav #navBarList .fLeft #tfheader #tfnewsearch .tfbutton::-moz-focus-inner {
            border: 0; }
        nav #navBarList .fLeft #tfheader .tfclear {
          clear: both; }
    nav #navBarList .fRight {
      float: right;
      margin-right: 2vw; }
  nav li {
    float: left; }
    nav li a:hover {
      background-color: transparent;
      color: lightgray;
      transition: .2s all; }
    nav li a {
      display: block;
      color: white;
      text-align: center;
      padding-top: 1vh;
      padding-right: 2vw;
      padding-left: 2vw;
      text-decoration: none;
      transition: .2s all; }

#brandTitle {
  color: #28beff; }

#enter {
  width: 14vw;
  height: 5vh;
  border: solid white 1px;
  font-size: 2vw;
  position: relative;
  margin-left: 43vw;
  bottom: 4vh;
  background-color: white;
  transition: .5s all;
  font-family: "Montserrat", sans-serif;
  font-size: 1vw; }

#enter:hover {
  color: white;
  background-color: black;
  transition: .5s all;
  cursor: pointer; }

#coverPage1 {
  font-family: 'brandFont';
  background-image: url(images/CoverHomeStudio.jpg);
  background-size: cover;
  background-position: center top;
  width: 100vw;
  height: 100vh; }
  #coverPage1 #transparent {
    width: 100vw;
    height: 100vh; }
    #coverPage1 #transparent #coverMainText {
      font-size: 7vw;
      text-align: center;
      position: relative;
      top: -5vh;
      opacity: 0;
      transition: 1s all; }
    #coverPage1 #transparent #coverSubText {
      font-size: 2vw;
      text-align: center;
      position: relative;
      top: -9vh;
      opacity: 0;
      transition: 1s all; }

#coverPage2 {
  font-family: 'brandFont';
  height: 105vh;
  margin-top: -3vh;
  background-image: url(images/CoverHomeStudio2.JPG);
  background-size: cover;
  background-position: center bottom; }
  #coverPage2 h1 {
    text-align: center;
    color: white;
    background-color: black;
    width: 100vw;
    transition: .3s all; }
  #coverPage2 p {
    font-family: "Montserrat", sans-serif; }
  #coverPage2 #coverInfoContainer {
    width: 95vw;
    margin: 2vw;
    margin-top: 12vh;
    display: table;
    table-layout: fixed; }
  #coverPage2 .coverInfo {
    width: 20vw;
    height: 15vh;
    display: inline-block;
    border-radius: 25px;
    padding: 1vh;
    text-align: center;
    display: table-cell;
    color: white; }
    #coverPage2 .coverInfo img {
      display: block;
      margin-left: auto;
      margin-right: auto; }

.active {
  margin: 0;
  padding: 0px; }

#logo:hover {
  transform: rotateY(180deg);
  transition: 1s all; }

#logo {
  height: 5vh;
  transition: 1s all; }

.welcomeText {
  position: relative;
  left: 15px;
  display: inline;
  margin-right: 25px; }

div.responsive {
  height: 300px; }

div.img {
  border: 1px solid #ccc;
  background-position: center center;
  background-size: cover;
  height: 300px; }
  div.img img {
    width: 100%;
    height: auto; }

div.img:hover {
  border: 1px solid #777;
  cursor: pointer; }

#location1 {
  background-image: url(images/locationNOLA.jpg); }

#location2 {
  background-image: url(images/locationPhilly.jpg); }

#location3 {
  background-image: url(images/locationLA.jpg); }

#location4 {
  background-image: url(images/locationNashville.jpg); }

#location5 {
  background-image: url(images/locationNYC.jpg); }

#location6 {
  background-image: url(images/locationWashDC.jpg); }

#map {
  height: 400px;
  width: 100%;
  position: fixed;
  border: solid black 2px; }

div.desc {
  padding: 15px;
  text-align: center;
  display: inline-block; }

div.price {
  display: inline-block;
  float: right;
  font-size: xx-large;
  padding: 5px; }

* {
  box-sizing: border-box; }

.responsive {
  padding: 0 6px;
  float: left;
  width: 25%;
  margin-bottom: 10px; }

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0; } }
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%; } }
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

#searchFilter {
  float: left;
  position: absolute;
  bottom: 85%;
  left: 15px; }

.locationContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5%; }

div.location {
  overflow: hidden;
  flex: 1;
  position: relative;
  float: left;
  min-width: 20%;
  margin: 15px; }

.locationDesc {
  position: absolute;
  top: 20px;
  left: 50px;
  color: white;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center; }

.container {
  padding: 15px;
  margin: 15px;
  border: solid black 2px;
  background-color: lightgray;
  max-height: 100%;
  max-width: 100%; }

#studioImg {
  -webkit-box-shadow: 10px 10px 59px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 59px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 59px 0px rgba(0, 0, 0, 0.75);
  max-width: 100%;
  margin: auto;
  overflow: hidden; }

#studioName {
  position: absolute;
  font-size: 50px;
  float: left;
  color: white;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7); }

#studioLocation {
  position: absolute;
  float: left;
  font-size: 20px;
  top: 170px;
  color: white;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7); }

#studioPrice {
  position: absolute;
  font-size: 40px;
  top: 185px;
  color: white;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7); }

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 75px;
  display: inline;
  position: absolute;
  color: white;
  top: 705px;
  background-color: rgba(0, 0, 0, 0.5); }

.rating > span {
  display: inline-block;
  position: relative; }

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute; }

#studioPic {
  display: inline;
  height: 750px;
  width: 100%;
  overflow-y: hidden; }

#profilePic {
  height: 250px;
  float: right;
  margin-top: 15px;
  border: groove #28beff 10px; }

#info {
  margin-right: 50%; }

#GoogleCalendar {
  width: 100%;
  padding: 15px; }

#submitRequest {
  width: 230px;
  height: 80px;
  margin-left: 45%;
  margin-right: 45%; }

.bookingDropdown {
  float: right;
  padding: 5px;
  margin: 5px; }

.bookingForm {
  margin-bottom: 10px; }

.htag {
  text-decoration: none;
  color: black;
  background-color: #c8c8e6;
  border-radius: 5px; }

#tagBox {
  position: relative;
  bottom: 40px;
  left: 75px; }

.tagBoxTag {
  color: black;
  background-color: #c8c8e6;
  border-radius: 5px;
  position: relative; }

.tagBoxTag:hover {
  background-color: lightgray;
  cursor: pointer; }

#sheetOuter {
  margin: 15px;
  padding: 5px;
  border: solid black 2px;
  background-color: #28beff; }

#sheetInner {
  margin: 15px;
  padding: 15px;
  border: solid black 2px;
  background-color: #c8ebff; }

#bookingReqList {
  list-style: none; }

#bookingReqList li {
  font-size: 20px; }

/*# sourceMappingURL=style.css.map */
